html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

table {
    margin: 20px auto;
    width: 80%;
    text-align: center;
}

thead {
    background-color: #007BFF;
    color: white;
}

td, th {
    padding: 10px;
    border: 1px solid #ccc;
}